{% extends 'base.html' %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <h1>Dashboard</h1>
  {% with total_images_created=request.user.images_created.count %}
    <p>Bienvenido al dashboard. Has marcado como favorita {{ total_images_created }} imagen{{ total_images_created|pluralize }}.</p>
  {% endwith %}
  <p>
    Arrastra el siguiente botón a tu barra de marcadores para marcar imágenes de otros sitios web → <a href="javascript:{% include 'bookmarklet_launcher.js' %}" class="button">Bookmark it</a>
  </p>
  <p>
    También puedes <a href="{% url 'edit' %}">editar tu perfil</a> o <a href="{% url 'password_change' %}">cambiar tu contraseña</a>.
  </p>
  <p><a href="{% url 'images:ranking' %}">Ranking de imagenes mas vistas</a></p>
  <h2>Lo que está sucediendo</h2>
  <div id="action-list">
    {% for action in actions %}
      {% include "actions/action/detail.html" %}
    {% endfor %}
  </div>
{% endblock %}
